.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
	background-color:#ffffff;
	z-index:5 !important;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
	background-color:#4cb2e1;
	color:#ffffff;
}
.ui-datepicker .ui-datepicker-header.ui-corner-left {
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
}
.ui-datepicker .ui-datepicker-header.ui-corner-right {
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
	text-align:center;
	color:#ffffff;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
	cursor:pointer;
	border:none !important;
	background:none !important;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
	border-radius:50%;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
	border-radius:50%;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	font-family:'fontello-admin';
	display: block;
	overflow:hidden;
	position: absolute;
	left: 50%;
	margin-left:-4px;
	margin-top:0;
	top: 3px;
	text-indent:0;
	font-size:20px;
	line-height:18px;
	width:8px;
	height:16px;
	text-align:left;
	background:none;
}
.ui-datepicker .ui-datepicker-prev span:before {
	content:'\e8ef ';
}
.ui-datepicker .ui-datepicker-next span:before {
	content:'\e8f0 ';
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 0.85em;
	margin: 0;
	height:21px;
	vertical-align:text-top;
	color:#4c4c4c;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
	background-color: #e8e8e8;
	color:#4c4c4c;
}
.ui-datepicker td {
	border: 1px solid #e8e8e8;
	padding: 1px;
	color:#4c4c4c;
}
.ui-datepicker td:hover {
	background-color:#d9f1ff;
}
.ui-datepicker td.ui-datepicker-unselectable {
	border-width: 0px;
}
.ui-datepicker td.ui-datepicker-unselectable:hover {
	background-color:#ffffff;
}
.ui-datepicker td.ui-datepicker-current-day {
	background-color:#4cb2e1;
}
.ui-datepicker td.ui-datepicker-current-day a {
	color:#222222;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 100%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}
