/* TAKE ACTION widget icon styles 
		This stylesheet is in use by SEIU.org properties built after summer 2009
*/

ul li.checkbox {
	background-image: url(http://img.seiu.org/actionicons/check-box.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

ul li.alert {
	background-image: url(http://img.seiu.org/actionicons/alert.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

ul li.bubble {
	background-image: url(http://img.seiu.org/actionicons/bubble.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

ul li.calendar {
	background-image: url(http://img.seiu.org/actionicons/cal.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

ul li.embed {
	background-image: url(http://img.seiu.org/actionicons/embed.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

ul li.facebook {
	background-image: url(http://img.seiu.org/actionicons/facebook.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}
	
ul li.linkedin {
	background-image: url(http://img.seiu.org/actionicons/LinkedIn.png);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

ul li.flickr {
	background-image: url(http://img.seiu.org/actionicons/flickr.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

ul li.gallery {
	background-image: url(http://img.seiu.org/actionicons/gallery.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

ul li.group {
	background-image: url(http://img.seiu.org/actionicons/group.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

ul li.learn {
	background-image: url(http://img.seiu.org/actionicons/learn.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

ul li.myspace {
	background-image: url(http://img.seiu.org/actionicons/myspace.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

ul li.phone {
	background-image: url(http://img.seiu.org/actionicons/phone.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

ul li.solo {
	background-image: url(http://img.seiu.org/actionicons/solo.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

ul li.twitter {
	background-image: url(http://img.seiu.org/actionicons/twitter.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

ul li.youtube {
	background-image: url(http://img.seiu.org/actionicons/youtube.gif);
	background-position: 0 2px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 20px;
	}

/* small buttons for content areas */

.action-callout {
	padding: 5px 5px 5px 5px;
	margin: 4px;
	background: #fff;
	}

.SMbutton {
	font-size: 93%;
	display: block;
	padding: 3px 3px 3px 30px;
	border: 1px solid #ccc;
	margin: 4px 0px;
	background-repeat: no-repeat;
	}

a.SMbutton {
	color: #3b5998;
	text-decoration: none;
	background-image: url(http://img.seiu.org/actionicons/check-box.gif);
	}

a.SMbutton:hover {
	text-decoration: underline;
	}

.SMbutton.checkbox {
	background-image: url(http://img.seiu.org/actionicons/check-box.gif);
	background-position: 6px 2px;
	}

.SMbutton.alert {
	background-image: url(http://img.seiu.org/actionicons/alert.gif) !important;
	background-position: 4px 2px;
	}

.SMbutton.bubble {
	background-image: url(http://img.seiu.org/actionicons/bubble.gif) !important;
	background-position: 3px 4px;
	}

.SMbutton.calendar {
	background-image: url(http://img.seiu.org/actionicons/cal.gif) !important;
	background-position: 6px 3px;
	}

.SMbutton.embed {
	background-image: url(http://img.seiu.org/actionicons/embed.gif) !important;
	background-position: 2px 1px;
	}

.SMbutton.facebook {
	background-image: url(http://img.seiu.org/actionicons/facebook.gif) !important;
	background-position: 4px 2px;
	}

.SMbutton.flickr {
	background-image: url(http://img.seiu.org/actionicons/flickr.gif) !important;
	background-position: 4px 2px;
	}

.SMbutton.gallery {
	background-image: url(http://img.seiu.org/actionicons/gallery.gif) !important;
	background-position: 4px 2px;
	}

.SMbutton.group {
	background-image: url(http://img.seiu.org/actionicons/group.gif) !important;
	background-position: 4px 2px;
	}

.SMbutton.learn {
	background-image: url(http://img.seiu.org/actionicons/learn.gif) !important;
	background-position: 3px 1px;
	}

.SMbutton.myspace {
	background-image: url(http://img.seiu.org/actionicons/myspace.gif) !important;
	background-position: 4px 3px;
	}

.SMbutton.phone {
	background-image: url(http://img.seiu.org/actionicons/phone.gif) !important;
	background-position: 3px 0px;
	}

.SMbutton.twitter {
	background-image: url(http://img.seiu.org/actionicons/twitter.gif) !important;
	background-position: 4px 1px;
	}

.SMbutton.youtube {
	background-image: url(http://img.seiu.org/actionicons/youtube.gif) !important;
	background-position: 4px 1px;
	}




